* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* about image  */

#about-banner {
    margin-bottom: 100px;
}

.about-image {
    position: relative;
}

.about-image img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.about-image .image-text {
    position: absolute;
    top: 35%;
    right: 25%;
    bottom: 25%;
    left: 25%;
}

.image-text h3 {
    text-align: center;
    color: #fff;
    font-family: 'Mooli', sans-serif;
    font-size: 5rem;
    margin-bottom: 20px;
}

.image-text .about-text p {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Kaisei Opti', serif;
}

/* side bar */
.side-bar {
    height: 430px;
    position: absolute;
    top: 35%;
    bottom: 25%;
    right: 5px;
    background-color: #a1c7ff;
    padding: 15px 7px 0;
    text-align: center;
    border-radius: 3px;
}

.side-bar .side-item {
    margin-bottom: 25px;
}

.side-bar .side-item a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s;
}

.side-bar .side-item a i {
    transition: .5s;
}

/* Hover */
.side-bar .side-item a:hover i {
    color: rgb(191, 191, 255);
}



/* Introduction */
.intro-title {
    text-align: center;
}

.intro-title .intro-title-heading {
    display: inline-block;
    background-color: rgb(161, 199, 255);
    border-radius: 4px;
    padding: 20px 120px;
    margin-bottom: 30px;
    transition: .5s;
}

.intro-title-heading h3 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Mooli', sans-serif;
    padding: 5px 20px;
    border-top: 3px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    border-bottom: 3px solid transparent;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s ease-out;
}

/* .intro-title-heading:hover {
    background-color: #000;
}

.intro-title-heading:hover h3 {
    box-shadow: inset 0 80px 0 0 #fff;
    color: #000;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid #000;
    border-radius: 5px;
} */


/* Introduce style */
.intoduce-container {
    background-color: rgb(249, 253, 255);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    margin-bottom: 100px;
}

.intoduce-container .introduce-image {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.intoduce-container .introduce-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.intoduce-container .introduce-image img:nth-child(1) {
    grid-column: 1/2;
}

.intoduce-container .introduce-image img:nth-child(2) {
    grid-column-start: 0;
    grid-column-end: 1;
}

.intoduce-container .introduce-image img:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.intoduce-container .introduce-image img:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.intoduce-container .introduce-image img:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.intoduce-container .introduce-text {
    width: 100%;
}

.introduce-text p {
    font-family: 'Kaisei Opti', serif;
    text-align: justify;
    font-weight: 500;
}

.introduce-text p span {
    font-weight: 700;
}

/* Education */

#education-parent {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: relative;
    margin-bottom: 100px;
}

.education-item {
    padding: 15px 10px;
    border-radius: 5px;
    transition: .5s ease-out;
}

.education-item h3 {
    font-family: 'Mooli', sans-serif;
    margin-bottom: 5px;
}

.education-item .certificate-name {
    font-weight: 600;
    font-family: 'Kaisei Opti', serif;
    margin-bottom: 5px;
}

.education-item .point {
    font-family: 'Kaisei Opti', serif;
    font-weight: 700;
}

.education-item .description-education {
    /* text-align: justify; */
    margin-top: 15px;
    font-family: 'Nanum Myeongjo', serif;
    padding: 0 0 0 40px;
}

.education-item:nth-child(1) {
    grid-column: 1/4;
    border-radius: 0 50px 0 0;
}

.education-item:nth-child(2) {
    grid-column: 2/5;
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 50px;
}

.education-item:nth-child(3) {
    grid-column: 1/4;
    border-radius: 0 50px 0 0;
}

.education-item:nth-child(4) {
    grid-column: 2/5;
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 50px;
}

/* Hover */

.education-item:hover {
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1);
}

/* Skill */

#skill-parent {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 100px;
}

.skill-item {
    text-align: center;
}

.skill-item h3 {
    font-family: 'Mooli', sans-serif;
    font-size: 1.5rem;
    background-color: #f0f6ff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.skill-item-iamge {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 10px 0;
}

.skill-item-iamge img {
    width: 70px;
    height: 70px;
    border-radius: 15px 0 15px 0;
    box-shadow: 0 5px 10px 0 #a1c7ff;
    transition: .5s;
}

.skill-item-iamge img:hover {
    transform: rotateY(180deg);
}

/* Experience  */
#experience-parent {
    margin-bottom: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.experience-item {
    height: 295px;
    overflow: hidden;
    border-radius: 5px;
    transition: all 1s ease-out;
    position: relative;
}

.experience-item img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.experience-item:nth-child(2) {
    height: 500px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);
}

.experience-item:nth-child(2):hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}

.experience-item .experi-details {
    padding: 20px;
}

.experience-item:nth-child(1) .experi-details,
.experience-item:nth-child(3) .experi-details {
    overflow: hidden;
    position: absolute;
    bottom: -100%;
}

.experience-item h3 {
    text-align: center;
    font-family: 'Mooli', sans-serif;
    margin: 10px 0 15px;
}

.experience-item p {
    font-family: 'Mooli', sans-serif;
}

.experience-item p span {
    font-weight: 600;
}

.experi-description {
    margin: 10px 0 0;
}

/* hover */

.experience-item:hover {
    overflow: visible;
    height: 500px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);
}

.experience-item:hover .experi-details {
    bottom: 0;
}


/* Passsion and hobbies */

#passion-hobbies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.passion-item {
    line-height: 20px;
    background-color: transparent;
    border-radius: 4px;
    padding: 20px;
    margin: 0 0 20px 0;
    transition: .5s ease-out;
}

.passion-item h5 {
    padding: 0 0 0 15px;
    font-family: 'Mooli', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 7px;
    position: relative;
}

.passion-item h5::before {
    content: " ";
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #a1c7ff;
    border-radius: 50%;
}

.passion-item div {
    padding: 0 0 0 15px;
}

.passion-detail p{
    font-family: 'Mooli', sans-serif;
    line-height: 23px;
}

#passion-parent h3,
#hobbies-parent h3 {
    text-align: center;
    font-family: 'Mooli', sans-serif;
    font-size: 1.5rem;
    background-color: #f0f6ff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.hobbie-item {
    background-color: transparent;
    border-radius: 4px;
    padding: 20px;
    margin: 0 0 20px 0;
    transition: .5s ease-out;
}

.hobbie-item h5 {
    padding: 0 0 0 15px;
    font-family: 'Mooli', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 7px;
    position: relative;
}

.hobbie-item h5::before {
    content: " ";

    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 0;

    width: 10px;
    height: 10px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
    transition: .5s ease-out;
}

.hobbie-item p {
    font-family: 'Mooli', sans-serif;
    padding: 0 0 0 15px;
    text-align: justify;
}

/* Hover */

.hobbie-item:hover {
    background-color: #f0f6ff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.hobbie-item:hover h5::before {
    background-color: rgb(136, 85, 255);
}