* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Side bar */

#side-bar-parent{
    position: relative;
}


/* about image  */

#about-banner {
    margin-bottom: 100px;
}

.about-image {
    position: relative;
}

.about-image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.about-image .image-text {
    position: absolute;
    top: 35%;
    right: 25%;
    bottom: 25%;
    left: 25%;
}

.image-text h3 {
    text-align: center;
    color: #fff;
    font-family: 'Mooli', sans-serif;
    font-size: 5rem;
    margin-bottom: 20px;
}

.image-text .about-text p {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


/* Introduction */
.intro-title {
    text-align: center;
}

.intro-title .intro-title-heading {
    display: inline-block;
    background-color: rgb(161, 199, 255);
    border-radius: 4px;
    padding: 20px 120px;
}

.intro-title-heading h3 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Mooli', sans-serif;
    padding: 5px 20px;
    border-top: 3px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    border-bottom: 3px solid transparent;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s ease-out;
}

.intro-title-heading:hover h3{
    box-shadow: inset 0 80px 0 0 #fff;
    color: #000;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid #000;
    border-radius: 5px;
}