* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* about image  */

#about-banner {
    margin-bottom: 100px;
}

.about-image {
    position: relative;
}

.about-image img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.about-image .image-text {
    position: absolute;
    top: 35%;
    right: 25%;
    bottom: 25%;
    left: 25%;
}

.image-text h3 {
    text-align: center;
    color: #fff;
    font-family: 'Mooli', sans-serif;
    font-size: 5rem;
    margin-bottom: 20px;
}

.image-text .about-text p {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Kaisei Opti', serif;
}

/* side bar */
.side-bar {
    height: 430px;
    position: absolute;
    top: 35%;
    bottom: 25%;
    right: 5px;
    background-color: #a1c7ff;
    padding: 15px 7px 0;
    text-align: center;
    border-radius: 3px;
}

.side-bar .side-item {
    margin-bottom: 25px;
}

.side-bar .side-item a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s;
}

.side-bar .side-item a i {
    transition: .5s;
}

/* Hover */
.side-bar .side-item a:hover i {
    color: rgb(191, 191, 255);
}



/* Introduction */
.intro-title {
    text-align: center;
}

.intro-title .intro-title-heading {
    display: inline-block;
    background-color: rgb(161, 199, 255);
    border-radius: 4px;
    padding: 20px 120px;
    margin-bottom: 30px;
    transition: .5s;
}

.intro-title-heading h3 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Mooli', sans-serif;
    padding: 5px 20px;
    border-top: 3px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    border-bottom: 3px solid transparent;
    box-shadow: inset 0 0 0 0 transparent;
    transition: .5s ease-out;
}

/* .intro-title-heading:hover {
    background-color: #000;
}

.intro-title-heading:hover h3 {
    box-shadow: inset 0 80px 0 0 #fff;
    color: #000;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid #000;
    border-radius: 5px;
} */


/* Introduce style */
.intoduce-container {
    background-color: rgb(249, 253, 255);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    margin-bottom: 100px;
}

.intoduce-container .introduce-image {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.intoduce-container .introduce-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.intoduce-container .introduce-image img:nth-child(1) {
    grid-column: 1/2;
}

.intoduce-container .introduce-image img:nth-child(2) {
    grid-column-start: 0;
    grid-column-end: 1;
}

.intoduce-container .introduce-image img:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.intoduce-container .introduce-image img:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.intoduce-container .introduce-image img:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.intoduce-container .introduce-text {
    width: 100%;
}

.introduce-text p {
    font-family: 'Kaisei Opti', serif;
    text-align: justify;
    font-weight: 500;
}

.introduce-text p span {
    font-weight: 700;
}


/* Skill */

#skill-parent {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.skill-item-iamge {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px;
    background-color: #bce4f8;
}