* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-bar {
    position: absolute;
    top: 35%;
    right: 5px;
    bottom: 35%;
    background-color: white;
    padding: 15px 7px 0;
    text-align: center;
    border-radius: 3px;
}

.side-bar .side-item {
    margin-bottom: 15px;
}

.side-bar .side-item a {
    text-decoration: none;
    color: #000;
    font-size: .8rem;
    transition: .5s;
}

#work-banner {
    height: 50vh;
    position: relative;
    margin-bottom: 100px;
}

#work-banner img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.empty-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
}


/* Work Banner title */
.work-banner-title {
    position: absolute;
    top: 35%;
    right: 35%;
    bottom: 25%;
    left: 35%;
}

.work-banner-title h3 {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    border-bottom: 10px double;
    text-align: center;
    padding-bottom: 10px;
}


/* Projects */

.project-item {
    width: 300px;
    height: 400px;
    background-color: red;
    position: relative;
}

.project-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.project-item .project-icon-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.project-item .project-icon{
    position: absolute;
    top: 50%;
    left: 45%;
}

.project-icon a {
    color: #fff;
    font-size: 2.5rem;
}