* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner-parent {
    position: relative;
}

/* Banner image */
.banner-image img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.empty-color {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
}

.banner-text {
    position: absolute;
    top: 25%;
    right: 25%;
    bottom: 25%;
    left: 25%;
    text-align: center;
}

.banner-text .title {
    margin-bottom: 50px;
}

.banner-text .title h2 {
    color: #fff;
    font-family: 'Mooli', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.banner-text .title h3 {
    color: #fff;
    font-family: 'Mooli', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner-text .profession h3,
.banner-text .profession h4 {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.side-bar {
    position: absolute;
    top: 25%;
    right: 5px;
    background-color: gray;
    padding: 5px 7px;
    text-align: center;
    border-radius: 3px;
}

.side-bar .side-item ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.side-bar .side-item ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    transition: .5s;
}
